body {
background-color: #cecef6;
font-family: "Courier New";
}
#navigation {
	padding: 10px;
	margin: 0;
	}
#navigation li {
	display: inline; 
	float: left; 
	}
	
	/*
this is a comment
	*/
	
#navigation a, #navigation a:visited {
	display: block; 
	width: 11.2em;
	border: 6px outset #ffccff;
	font-family: arial, verdana, sans-serif;
	font-size: 0.8em;
	text-align: center;
	text-decoration:none;
	}
	
#Pony img {
	box-shadow: 8px 8px 10px #aaa
	}
	
#Forrest img {
	Border: 10px double #aaa;
	}
	
#Happy img {
	border: 15px solid #3e2b14;
	} 

#Man img {
	border: 10px double #aaa
	}
	
#Pepe Pony img {
	border: 10px solid #aaa
	}
	
p::first-letter {
    color: #5F2496;
    font-size: xx-large;
}

.dropdown {
	position: relative;
	display: inline-block;
	}
	
.dropdown-content {
	display: none; 
	position: absolute; 
	Background-color: #f9f9f9 
	min-width: 160 px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}
	
.dropdown:hover .dropdown-content {
	display: block;
	}
	
.desc {
	padding: 15 px;
	text-align: center; 
	} 
	
#navigation a:hover {
	color: #000000;
	background-color: #3e2b14
	}
	
#balloons1 img{
	box-shadow: 8px 89x 10px #7CCBE6
	}
	
#balloons2 img{
	border: 10px double #7CCBE6;
	}
	
<style type="text/css">body, a:hover {cursor: url(http://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(http://ani.cursors-4u.net/cursors/cur-12/cur1103.png), progress !important;}</style><a href="http://www.cursors-4u.com/cursor/2014/03/14/rainbow-pinwheel-pointer.html" target="_blank" title="Rainbow Pinwheel Pointer"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Rainbow Pinwheel Pointer" style="position:absolute; top: 0px; right: 0px;" /></a>
<style type="text/css">body, a:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat1011.ani), url(http://cur.cursors-4u.net/nature/nat-10/nat1011.gif), progress !important;}</style><a href="http://www.cursors-4u.com/cursor/2011/12/30/fluttershy-my-little-pony.html" target="_blank" title="Fluttershy My Little Pony"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Fluttershy My Little Pony" style="position:absolute; top: 0px; right: 0px;" /></a>
.flex > div:hover {
  flex: 3;
}

	